*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
  font-family: 'Press Start 2P', cursive;
  margin:0;
  background: url(images/title.gif) no-repeat center fixed;
  background-size: cover;
  image-rendering: pixelated;
}

h2{
  font-size: 220%;
}

#id-maincanvas {
  width: 100%;
}
#game {
	left: 0;
	top: 0;
	width: 900px;
	height: 600;
	font-size: 40px;
}

#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}

#game .screen.active {
	display: block;
}

#main-menu {
	padding-top: 1em;
	cursor: pointer;
	font-size: 0.75em;
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#game div p {
	font-size: 0.5em;
}

#about p {
	text-align: center;
}

#id-maincanvas{
  width: 100%;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.15em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.someClass {
  font-size: 0.40em;
}


.cl-effect-21 a {
	padding: 10px;
	color: black;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}




.cl-effect-22 a {
	padding: 5px;
	color: black;
	font-weight: 100;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-22 a::before,
.cl-effect-22 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-22 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-22 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-22 a:hover,
.cl-effect-22 a:focus {
	color: #fff;
}

.cl-effect-22 a:hover::before,
.cl-effect-22 a:focus::before,
.cl-effect-22 a:hover::after,
.cl-effect-22 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
